@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$arkaplan:#eeeeed;
$navbar-color:#f8f8f8;
$navbar-border-color:#e4b983;
$footer-color:#6d7474;
$menu-li-hover-color:#D4D4D4;

$navbar-height:100px;
$menus-wrapper-width:980px;
$logo-width:350px;
body{
    margin:0px;
    padding: 0px;
    float: left;
    background: $arkaplan;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    .navbar{
        box-sizing: border-box;
        position: relative;
        background: $navbar-color;
        float: left;
        width: 100%;
        height: $navbar-height;
        border-width: 0px 0px 1px 0px;
        border-color: $navbar-border-color;
        border-style:solid;
        .menu{
            position: absolute;
            width: 100%;
            height: auto;
            z-index: 100;
            .menus-wrapper{
                width: $menus-wrapper-width;
                height: $navbar-height;
                margin: 0px auto;
                .logo{
                    height: $navbar-height;
                    width: $logo-width;
                    float: left;
                    padding: 15px;
                    box-sizing: border-box;
                    img{
                        width: auto;
                        height: 100%;
                        float: left;
                    }
                    .marka{
                        float: left;
                        width: 250px;
                        word-wrap: break-word;
                        font-weight: 300;
                        padding-left: 5px;
                        padding-top: 10px;
                        box-sizing: border-box;
                    }
                }
                .menus{
                    float: left;
                    padding: 30px 0px;
                    box-sizing: border-box;
                    cursor: pointer;
                    ul{
                        list-style: none;
                        padding: 0px;
                        box-sizing: border-box;
                        background: $navbar-color;
                        transition: 500ms;
                        border-width: 1px;
                        border-color: $navbar-border-color;
                        border-style: solid;
                        li{
                            box-sizing: border-box;
                            padding: 10px 10px 10px 10px;
                            transition: 500ms;
                            a{
                                text-decoration: none;
                                color: black;
                                &:visited{
                                    color: black;
                                }
                            }
                            &:hover{
                                background: $menu-li-hover-color;
                                a{
                                    color:white;
                                }
                            }
                        }
                    }
                    .menu-title{
                        width: auto;
                        font-size:14px;
                        font-weight: 600;
                        padding: 10px 20px;
                        box-sizing: border-box;
                        display: inline-block;
                        transition: 500ms;
                        &:hover{
                            transition: 500ms;
                            background: $navbar-border-color;
                            color:white;
                            a{
                              color:white;
                            }
                        }
                        a{
                          text-decoration: none;
                          color:black;
                        }
                    }
                }
                .donation{
                    width: auto;
                    float: right;
                    text-align: left;
                    box-sizing: border-box;
                    padding: 30px 10px 10px 10px;
                    font-size:12px;
                    a{
                      width: auto;
                      border-radius: 5px;
                      padding: 5px 10px;
                      color: white;
                      font-weight: bold;
                      text-decoration: none;
                      float: left;
                      background: #006838;
                      transition: 500ms;
                      &:hover{
                        background: white;
                        color: #006838;
                        transition: 500ms;
                      }
                      img{
                          float: left;
                          vertical-align: bottom;
                      }
                      span{
                          margin-left:5px;
                          margin-top: 7px;
                          float: left;
                          width:auto;
                      }
                    }
                }
            }
        }
    }

    .content{
        width:100%;
        height: auto;
        float: left;
        box-sizing: border-box;
        .home{
          min-height: calc( 100vh - 80px );
          float: left;
          width: 100%;
          background-color: #f8f8f8;
          .home-wrapper{
            width: $menus-wrapper-width;
            margin:50px auto;
            min-height: calc( 100vh - 80px );
            background: white;
            border: 1px solid #d6d6d6;
            box-sizing: border-box;
            padding: 20px;
            .content-img{
              width: 100%;
              height: auto;
              margin:10px 0px;
            }
            .baslik{
              width: 100%;
              font-weight: semi-bold;
              font-size: 25px;
              padding:10px 0px;
            }
            .aciklama{
              width: 100%;
              font-weight: semi-bold;
              font-size: 18px;
              padding:10px 0px;
            }
          }
          .services{
            float: left;
            margin-top: 80px;
            width: 100%;
            height: 400px;
            background: #ebebeb;
            .services-in{
              width: $menus-wrapper-width;
              margin:0px auto;
              padding: 40px 0px;
              height: 100%;
              box-sizing: border-box;
              .left{
                float: left;
                width: 50%;
                height: 100%;
                padding-top:50px;
                padding-right:50px;
                box-sizing: border-box;
                .baslik{
                  width: 100%;
                  float: left;
                  font-weight: bold;
                  font-size: 26px;
                  color:black;
                }
                .icerik{
                  width: 100%;
                  float: left;
                  padding-top: 20px;
                  box-sizing: border-box;
                  font-size: 16px;
                  color:black;
                }
              }
              .right{
                float: left;
                width: 50%;
                height: 100%;
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .services-light{
            float: left;
            width: 100%;
            height: auto;
            background: white;
            .services-in{
              width: $menus-wrapper-width;
              margin:0px auto;
              padding: 40px 0px;
              height: 100%;
              box-sizing: border-box;
              .left{
                float: left;
                width: 50%;
                height: 100%;
                padding-top:50px;
                padding-bottom:50px;
                padding-right:50px;
                box-sizing: border-box;
                .baslik{
                  width: 100%;
                  float: left;
                  font-weight: bold;
                  font-size: 26px;
                  color:black;
                }
                .icerik{
                  width: 100%;
                  float: left;
                  padding-top: 20px;
                  box-sizing: border-box;
                  font-size: 16px;
                  color:black;
                }
              }
              .right{
                float: left;
                width: 50%;
                padding-top:50px;
                padding-bottom:50px;
                height: 100%;
                a{
                  text-decoration: none;
                  span{
                    font-weight: bold;
                    padding-left: 10px;
                    color:#006838;
                  }
                }
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
    }
    .footer{
        a{
          color:white;
          margin:0px 20px;
        }
        width:100%;
        float: left;
        background: $footer-color;
        color: white;
        text-align: center;
        box-sizing: border-box;
        .footer-first{
          width: 100%;
          background-color: #434848;
          padding: 20px;
          box-sizing: border-box;
          .footer-wrap{
            width: $menus-wrapper-width;
            margin:0px auto;

          }
        }
        .footer-second{
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          .footer-wrap{
            width: $menus-wrapper-width;
            margin:0px auto;

          }
        }
    }
}
