@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
  margin: 0px;
  padding: 0px;
  float: left;
  background: #eeeeed;
  width: 100%;
  font-family: 'Open Sans', sans-serif; }
  body .navbar {
    box-sizing: border-box;
    position: relative;
    background: #f8f8f8;
    float: left;
    width: 100%;
    height: 100px;
    border-width: 0px 0px 1px 0px;
    border-color: #e4b983;
    border-style: solid; }
    body .navbar .menu {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 100; }
      body .navbar .menu .menus-wrapper {
        width: 980px;
        height: 100px;
        margin: 0px auto; }
        body .navbar .menu .menus-wrapper .logo {
          height: 100px;
          width: 350px;
          float: left;
          padding: 15px;
          box-sizing: border-box; }
          body .navbar .menu .menus-wrapper .logo img {
            width: auto;
            height: 100%;
            float: left; }
          body .navbar .menu .menus-wrapper .logo .marka {
            float: left;
            width: 250px;
            word-wrap: break-word;
            font-weight: 300;
            padding-left: 5px;
            padding-top: 10px;
            box-sizing: border-box; }
        body .navbar .menu .menus-wrapper .menus {
          float: left;
          padding: 30px 0px;
          box-sizing: border-box;
          cursor: pointer; }
          body .navbar .menu .menus-wrapper .menus ul {
            list-style: none;
            padding: 0px;
            box-sizing: border-box;
            background: #f8f8f8;
            transition: 500ms;
            border-width: 1px;
            border-color: #e4b983;
            border-style: solid; }
            body .navbar .menu .menus-wrapper .menus ul li {
              box-sizing: border-box;
              padding: 10px 10px 10px 10px;
              transition: 500ms; }
              body .navbar .menu .menus-wrapper .menus ul li a {
                text-decoration: none;
                color: black; }
                body .navbar .menu .menus-wrapper .menus ul li a:visited {
                  color: black; }
              body .navbar .menu .menus-wrapper .menus ul li:hover {
                background: #D4D4D4; }
                body .navbar .menu .menus-wrapper .menus ul li:hover a {
                  color: white; }
          body .navbar .menu .menus-wrapper .menus .menu-title {
            width: auto;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 20px;
            box-sizing: border-box;
            display: inline-block;
            transition: 500ms; }
            body .navbar .menu .menus-wrapper .menus .menu-title:hover {
              transition: 500ms;
              background: #e4b983;
              color: white; }
              body .navbar .menu .menus-wrapper .menus .menu-title:hover a {
                color: white; }
            body .navbar .menu .menus-wrapper .menus .menu-title a {
              text-decoration: none;
              color: black; }
        body .navbar .menu .menus-wrapper .donation {
          width: auto;
          float: right;
          text-align: left;
          box-sizing: border-box;
          padding: 30px 10px 10px 10px;
          font-size: 12px; }
          body .navbar .menu .menus-wrapper .donation a {
            width: auto;
            border-radius: 5px;
            padding: 5px 10px;
            color: white;
            font-weight: bold;
            text-decoration: none;
            float: left;
            background: #006838;
            transition: 500ms; }
            body .navbar .menu .menus-wrapper .donation a:hover {
              background: white;
              color: #006838;
              transition: 500ms; }
            body .navbar .menu .menus-wrapper .donation a img {
              float: left;
              vertical-align: bottom; }
            body .navbar .menu .menus-wrapper .donation a span {
              margin-left: 5px;
              margin-top: 7px;
              float: left;
              width: auto; }
  body .content {
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box; }
    body .content .home {
      min-height: calc( 100vh - 80px );
      float: left;
      width: 100%;
      background-color: #f8f8f8; }
      body .content .home .home-wrapper {
        width: 980px;
        margin: 50px auto;
        min-height: calc( 100vh - 80px );
        background: white;
        border: 1px solid #d6d6d6;
        box-sizing: border-box;
        padding: 20px; }
        body .content .home .home-wrapper .content-img {
          width: 100%;
          height: auto;
          margin: 10px 0px; }
        body .content .home .home-wrapper .baslik {
          width: 100%;
          font-weight: semi-bold;
          font-size: 25px;
          padding: 10px 0px; }
        body .content .home .home-wrapper .aciklama {
          width: 100%;
          font-weight: semi-bold;
          font-size: 18px;
          padding: 10px 0px; }
      body .content .home .services {
        float: left;
        margin-top: 80px;
        width: 100%;
        height: 400px;
        background: #ebebeb; }
        body .content .home .services .services-in {
          width: 980px;
          margin: 0px auto;
          padding: 40px 0px;
          height: 100%;
          box-sizing: border-box; }
          body .content .home .services .services-in .left {
            float: left;
            width: 50%;
            height: 100%;
            padding-top: 50px;
            padding-right: 50px;
            box-sizing: border-box; }
            body .content .home .services .services-in .left .baslik {
              width: 100%;
              float: left;
              font-weight: bold;
              font-size: 26px;
              color: black; }
            body .content .home .services .services-in .left .icerik {
              width: 100%;
              float: left;
              padding-top: 20px;
              box-sizing: border-box;
              font-size: 16px;
              color: black; }
          body .content .home .services .services-in .right {
            float: left;
            width: 50%;
            height: 100%; }
            body .content .home .services .services-in .right img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
      body .content .home .services-light {
        float: left;
        width: 100%;
        height: auto;
        background: white; }
        body .content .home .services-light .services-in {
          width: 980px;
          margin: 0px auto;
          padding: 40px 0px;
          height: 100%;
          box-sizing: border-box; }
          body .content .home .services-light .services-in .left {
            float: left;
            width: 50%;
            height: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 50px;
            box-sizing: border-box; }
            body .content .home .services-light .services-in .left .baslik {
              width: 100%;
              float: left;
              font-weight: bold;
              font-size: 26px;
              color: black; }
            body .content .home .services-light .services-in .left .icerik {
              width: 100%;
              float: left;
              padding-top: 20px;
              box-sizing: border-box;
              font-size: 16px;
              color: black; }
          body .content .home .services-light .services-in .right {
            float: left;
            width: 50%;
            padding-top: 50px;
            padding-bottom: 50px;
            height: 100%; }
            body .content .home .services-light .services-in .right a {
              text-decoration: none; }
              body .content .home .services-light .services-in .right a span {
                font-weight: bold;
                padding-left: 10px;
                color: #006838; }
            body .content .home .services-light .services-in .right img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
  body .footer {
    width: 100%;
    float: left;
    background: #6d7474;
    color: white;
    text-align: center;
    box-sizing: border-box; }
    body .footer a {
      color: white;
      margin: 0px 20px; }
    body .footer .footer-first {
      width: 100%;
      background-color: #434848;
      padding: 20px;
      box-sizing: border-box; }
      body .footer .footer-first .footer-wrap {
        width: 980px;
        margin: 0px auto; }
    body .footer .footer-second {
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      body .footer .footer-second .footer-wrap {
        width: 980px;
        margin: 0px auto; }

/*# sourceMappingURL=index.css.map */
