.react-tabs {
  width: 980px;
  margin: 50px auto;
  box-sizing: border-box; }
  .react-tabs__tab-list {
    width: 150px;
    float: left;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 0;
    background: white;
    border: 1px solid #d6d6d6;
    min-height: 500px; }
  .react-tabs__tab {
    width: 150px;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    position: relative;
    list-style: none;
    background: white;
    padding: 12px 18px;
    cursor: pointer; }
    .react-tabs__tab:hover {
      background: #eeeeed; }
    .react-tabs__tab--selected {
      background: #dfdfdf;
      border-color: #aaa;
      color: black; }
    .react-tabs__tab:focus {
      box-shadow: 0 0 5px #0188fe;
      border-color: #0188fe;
      outline: none; }
      .react-tabs__tab:focus:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff; }
  .react-tabs__tab-panel {
    display: none;
    border: 1px solid #d6d6d6;
    min-height: 500px;
    float: left;
    width: calc( 980px - 150px );
    box-sizing: border-box;
    padding: 20px; }
    .react-tabs__tab-panel img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 20px; }
    .react-tabs__tab-panel .content-img {
      width: 100%;
      height: auto;
      margin: 10px 0px; }
    .react-tabs__tab-panel--selected {
      display: block; }
    .react-tabs__tab-panel--disabled {
      color: GrayText;
      cursor: default; }

/*# sourceMappingURL=react-tabs.css.map */
