.react-tabs2 {
  width: 980px;
  margin: 50px auto;
  box-sizing: border-box; }
  .react-tabs2__tab-list2 {
    width: 100%;
    background: white;
    float: left;
    border-bottom: 1px solid #FFF;
    margin: 0 0 10px;
    padding: 0; }
  .react-tabs2__tab2 {
    width: auto;
    color: grey;
    font-weight: bold;
    display: inline-block;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer; }
    .react-tabs2__tab2--selected {
      background: red;
      border-color: #aaa;
      color: white;
      border-radius: 5px 5px 0 0; }
    .react-tabs2__tab2:focus {
      box-shadow: 0 0 5px #0188fe;
      border-color: #0188fe;
      outline: none; }
      .react-tabs2__tab2:focus:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff; }
  .react-tabs2__tab-panel2 {
    display: none; }
    .react-tabs2__tab-panel2 a {
      color: black; }
      .react-tabs2__tab-panel2 a .haber-wrap {
        width: 25%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        background: white;
        cursor: pointer;
        transition: 500ms; }
        .react-tabs2__tab-panel2 a .haber-wrap:hover {
          transition: 500ms;
          background-color: #006838;
          color: white; }
        .react-tabs2__tab-panel2 a .haber-wrap img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          float: left; }
        .react-tabs2__tab-panel2 a .haber-wrap .baslik {
          width: 100%;
          float: left;
          padding-top: 10px;
          font-weight: bold; }
        .react-tabs2__tab-panel2 a .haber-wrap .icerik {
          width: 100%;
          float: left;
          padding-top: 10px; }
    .react-tabs2__tab-panel2--selected {
      display: block; }
    .react-tabs2__tab-panel2--disabled {
      color: GrayText;
      cursor: default; }

/*# sourceMappingURL=react-tabs2.css.map */
