.react-tabs2 {
  width: 980px;
  margin: 50px auto;
  box-sizing: border-box;
  &__tab-list2 {
    width: 100%;
    background: white;
    float:left;
    border-bottom: 1px solid #FFF;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab2 {
    width:auto;
    color: grey;
    font-weight: bold;
    display: inline-block;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: red;
      border-color: #aaa;
      color: white;
      border-radius: 5px 5px 0 0;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel2 {
    display: none;
    a{
      color:black;
      .haber-wrap{
        width: 25%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        background: white;
        cursor: pointer;
        transition: 500ms;
        &:hover{
          transition: 500ms;
          background-color: #006838;
          color:white;
        }
        img{
          width: 100%;
          height: 150px;
          object-fit: cover;
          float: left;
        }
        .baslik{
          width: 100%;
          float: left;
          padding-top: 10px;
          font-weight: bold;
        }
        .icerik{
          width: 100%;
          float: left;
          padding-top:10px;
        }
      }
    }

    &--selected {
      display: block;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}
