.react-tabs {
  width: 980px;
  margin: 50px auto;
  box-sizing: border-box;

  &__tab-list {
    width: 150px;
    float: left;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 0;
    background: white;
    border: 1px solid #d6d6d6;
    min-height: 500px;
  }

  &__tab {
    width: 150px;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    position: relative;
    list-style: none;
    background: white;
    padding: 12px 18px;
    cursor: pointer;
    &:hover{
      background: #eeeeed;
    }
    &--selected {
      background: #dfdfdf;
      border-color: #aaa;
      color: black;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;
    border: 1px solid #d6d6d6;
    min-height: 500px;
    float: left;
    width: calc( 980px - 150px );
    box-sizing: border-box;
    padding: 20px;
    img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom:20px;
    }
    .content-img{
      width: 100%;
      height: auto;
      margin:10px 0px;
    }
    &--selected {
      display: block;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}
